$font-stack: -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
$font-size-small: 12px;
$font-size-large: 16px;

$color-primary: #00a3be;
$color-secondary: #05778f;

$background-light: #f9fafc;
$hover-light: #eceef4;
$text-light: #191d2f;
$border-light: #cdd0e0;
$text-placeholder-light: #cdd0e0;

$background-dark: #191d2f;
$hover-dark: #353A52;
$text-dark: #f9fafc;
$border-dark: #6e7492;
$text-placeholder-dark: #6E7492;

$text-selected: #fff;

$shadow: #6e7492;

$s-5: 4px;
$s-10: 8px;
$s-15: 12px;
$s-20: 16px;
$s-25: 20px;
$s-30: 24px;
$s-40: 32px;
$s-50: 40px;
$s-60: 48px;
$s-70: 56px;
